
<div class="container d-inline-flex">
    <div>
        <img src="/img/VickyFoodLogo_02.jpg" alt="VIckyFood Logo" />
    </div>
    <div class="jumbotron">
        <h2>Contact Us</h2>
        <p>
            <span>

            </span>
            <h4><email address="adrianopinho.dev@gmail.com" content="Send Us a E-Mail"></email></h4>
            <br />
            <span>

            </span>
            <h4>55 (41) 9 9228-1211</h4>
            <br />
            <span>

            </span>
            <h4>Merces, Curitiba-PR, Brazil</h4>
        </p>
    </div>
</div>