@model ProductListViewModel

<div>
    <h2>@Model.CurrentCategory</h2>
</div>
<br />
<div class="container">
    <div class="row">
        @foreach (var p in Model.Products)
        {
            <partial name="_ProductOverview" for="@p" />
        }
    </div>
</div>