
<div class="container">
    <div class="row">
        <div class="text-center">
            <h2>ARE YOU HUNGRY?</h2>
        </div>
        <div>
            <partial name="_Carousel" />
        </div>
    </div>
</div>